# Lógica y cachés de Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
alembic.ini

# Dependencias y builds de Node
node_modules/
dist/
dist-ssr/
build/

# Variables de entorno y secretos
.env
.env.*
!.env.example
*.local

# Configuración de editores e IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema Operativo (MacOS/Windows)
.DS_Store
Thumbs.db

# Logs y bases de datos SQLite locales (si las hubiera)
logs/
*.log
*.sqlite3
