# === POSTGRES DB VARIABLES ===
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stocker

# === API VARIABLES ===
API_PORT=8000
# DATABASE_URL=postgresql://root:secret@db:5432/stocker # La gestionaremos desde el Compose directamente

# === FRONTEND VARIABLES ===
FRONTEND_PORT=5173
SECRET_KEY=stocker_super_clave_larga_2026_auth_jwt_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000